<div class="container bootstrap mt-3 mb-5 ">
    <h3 class="m-2">Access History</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <button mat-raised-button id="reloadBtn" (click)="fetchAccessLogList()">Fetch</button>
    </div>
    <div class="list-group">
        <div *ngFor="let a of accessLogList" href="#" class="list-group-item list-group-item-action "
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">User: {{a.username}}</h6>
                <small>ID: {{a.userId}}</small>
            </div>
            <small class="m-1">Access Time:
                {{a.accessTime}}</small>
            <small class="m-1">IP Address: {{a.ipAddress}}</small>
        </div>
    </div>

    <mat-paginator [length]="pagingController.paging.total" [pageSize]="pagingController.paging.limit"
        [pageSizeOptions]="pagingController.PAGE_LIMIT_OPTIONS" (page)="handle($event)" aria-label="Select page">
    </mat-paginator>

</div>