<div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary m-2 text-right" id="logoutBtn" (click)="logout()">Logout</button>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">File Name:</span>
        </div>
        <input type="text" id="uploadName" [value]="nameInput" class="form-control"
            placeholder="name of file to be uploaded" aria-describedby="basic-addon1">
    </div>
    <div>
        <p style="color: grey;">Supported File Extensions:
            <span *ngFor="let e of fileExtList; let i = index">
                {{ e + (i < fileExtList.length - 1 ? "," : "" )}} </span>
        </p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Upload File:</span>
        </div>
        <input type="file" id="uploadFile" class="form-control" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-secondary" id="uploadBtn" onclick="upload()">Upload</button>
</div>

<div class="container bootstrap mt-4 mb-3">
    <div class="list-group" id="listDiv">
        <li *ngFor="let f of fileInfoList" class="list-group-item list-group-item-action">
            <a [href]="concatFilePath(f.fileName)" target="_blank" style="word-break: break-all">{{f.fileName}}, size:
                {{resolveSize(f.sizeInBytes)}}</a>
        </li>
    </div>
</div>