<div [hidden]="isGuest">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">File Name:</span>
        </div>
        <input type="text" [(ngModel)]="uploadName" class="form-control" placeholder="name of file to be uploaded"
            aria-describedby="basic-addon1">
    </div>
    <div>
        <p style="color: grey;">Supported File Extensions:
            <span *ngFor="let e of fileExtSet; let i = index">
                {{ (i < fileExtSet.size - 1 ? e + "," : e )}} </span>
        </p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Upload File:</span>
        </div>
        <input type="file" class="form-control" [(ngModel)]="uploadFile" (change)="onFileSelected($event)"
            aria-describedby="basic-addon1">
    </div>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usergroup" checked id="userGroupPrivate" checked
                (change)="setUserGroup(1)">
            <label class="form-check-label" for="userGroupPrivate">
                Private
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usergroup" id="userGroupPublic"
                (change)="setUserGroup(0)">
            <label class="form-check-label" for="userGroupPublic">
                Public
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-secondary mt-2 mb-2" id="uploadBtn" (click)="upload()">Upload</button>
</div>

<div class="container bootstrap mt-4 mb-3">
    <div class="list-group" id="listDiv">
        <li *ngFor="let f of fileInfoList" class="list-group-item list-group-item-action">
            <a [href]="concatFileHref(f.uuid)" target="_blank"
                style="word-break: break-all; text-decoration: none;">{{f.name}}, Size:
                {{resolveSize(f.sizeInBytes)}}, Group: {{resolveUserGroupName(f.userGroup)}}</a>
        </li>
    </div>
</div>