<div class="container bootstrap mt-3 mb-5 p-3 shadow">
    <h3 class="mt-2 mb-3">Change Password</h3>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">Current Password:</span>
        <input type="password" [(ngModel)]="changePasswordParam.prevPassword" class="form-control"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">New Password:</span>
        <input type="password" [(ngModel)]="changePasswordParam.newPassword" class="form-control"
            aria-describedby="basic-addon1">
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-secondary btn-sm mt-2" (click)="changePassword()">Submit</button>
    </div>
</div>