<div class="container bootstrap mt-3 mb-5 p-3 shadow">
	<h2>Change Password</h2>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">Current Password:</span>
		</div>
		<input type="password" [(ngModel)]="changePasswordParam.prevPassword" class="form-control"
			aria-describedby="basic-addon1">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">New Password:</span>
		</div>
		<input type="password" [(ngModel)]="changePasswordParam.newPassword" class="form-control"
			aria-describedby="basic-addon1">
	</div>
	<button type="button" class="btn btn-outline-secondary btn-sm mt-2" (click)="changePassword()">Submit</button>
</div>