<div class="mt-3 mb-4" [hidden]="!isLoggedIn">
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home-page" routerLinkActive="active">Home
                    Page</a>
            </li>
            <li class="nav-item" [hidden]="!isAdmin">
                <a class="nav-link" routerLink="/manage-extension" routerLinkActive="active">File Extensions</a>
            </li>
            <li class="nav-item" [hidden]="!isAdmin">
                <a class="nav-link" routerLink="/manage-fsgroup" routerLinkActive="active">Manage FsGroups</a>
            </li>
            <li class="nav-item" [hidden]="!isAdmin">
                <a class="nav-link" routerLink="/manage-tasks" routerLinkActive="active">Manage Tasks</a>
            </li>
            <li class="nav-item" [hidden]="!isAdmin">
                <a class="nav-link" routerLink="/task-history" routerLinkActive="active">Task History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/change-password" routerLinkActive="active">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</div>