<div class="container bootstrap mt-3 mb-5 p-3 ml-5 mr-5 shadow">
    <h3 class="mt-2 mb-3">Add User</h3>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">Username:</span>
        <input type="text" [(ngModel)]="usernameToBeAdded" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">Password:</span>
        <input type="password" [(ngModel)]="passswordToBeAdded" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userRole" checked id="userRoleGuest" checked
                (change)="setUserRole('guest')">
            <label class="form-check-label" for="userGroupPrivate">
                Guest
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userRole" id="userRoleUser"
                (change)="setUserRole('user')">
            <label class="form-check-label" for="userGroupPublic">
                User
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-outline-secondary btn-sm mt-2" (click)="addUser()">Add User</button>
</div>
<div class="container bootstrap mt-3 mb-5 ">
    <div class="list-group">
        <div *ngFor="let u of userInfoList" href="#" class="list-group-item list-group-item-action "
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">User: {{u.username}}</h6>
                <small>ID: {{u.id}}</small>
            </div>
            <small class="mb-1">Role: {{u.role}}</small>

            <div class="d-flex w-100 justify-content-between">
                <small class="mt-1 mb-1">Status: {{u.isDisabled === USER_IS_DISABLED ? "disabled" : "normal"}}</small>
                <div>
                    <small [hidden]="u.isDisabled === USER_IS_DISABLED"><button class="btn btn-outline-secondary btn-sm"
                            (click)="disableUserById(u.id)">Disable</button></small>
                    <small [hidden]="u.isDisabled === USER_IS_NORMAL"><button class="btn btn-outline-secondary btn-sm"
                            (click)="enableUserById(u.id)">Enable</button></small>
                </div>
            </div>
        </div>
    </div>

</div>