<div>
    <h3 class="mt-2 mb-3">Manage User</h3>
    <div class="justify-content-md-end d-md-flex">
        <button mat-raised-button (click)="addUserPanelDisplayed=!addUserPanelDisplayed">
            New User
        </button>
    </div>
</div>

<!-- New User Panel  -->
<div class="container bootstrap mt-3 mb-5 p-3 ml-5 mr-5 shadow" *ngIf="addUserPanelDisplayed">
    <h3 class="mt-2 mb-3">New User</h3>

    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput type="text" id="usernameInput" [(ngModel)]="usernameToBeAdded">
        <button *ngIf="usernameToBeAdded" matSuffix mat-icon-button aria-label="Clear" (click)="usernameToBeAdded=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="passwordInput" [(ngModel)]="passswordToBeAdded">
        <button *ngIf="passswordToBeAdded" matSuffix mat-icon-button aria-label="Clear" (click)="passswordToBeAdded=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userRole" checked id="userRoleGuest" checked
                (change)="setUserRole('guest')">
            <label class="form-check-label" for="userGroupPrivate">
                Guest
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userRole" id="userRoleUser"
                (change)="setUserRole('user')">
            <label class="form-check-label" for="userGroupPublic">
                User
            </label>
        </div>
    </div>
    <div class="justify-content-md-end d-md-flex">
        <button mat-raised-button class="mt-2" (click)="addUser()">Add User</button>
    </div>
</div>
<div class="container bootstrap mt-3 mb-5 pb-3">
    <div class="list-group">
        <div *ngFor="let u of userInfoList" href="#" class="list-group-item list-group-item-action "
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">User: {{u.username}}</h6>
                <small>ID: {{u.id}}</small>
            </div>
            <small class="mb-1">Role: {{u.role}}</small>

            <div class="d-flex w-100 justify-content-between">
                <small class="mt-1 mb-1">Status: {{u.isDisabled === USER_IS_DISABLED ? "disabled" : "normal"}}</small>
                <div>
                    <small [hidden]="u.isDisabled === USER_IS_DISABLED"><button class="btn btn-outline-secondary btn-sm"
                            (click)="disableUserById(u.id)">Disable</button></small>
                    <small [hidden]="u.isDisabled === USER_IS_NORMAL"><button class="btn btn-outline-secondary btn-sm"
                            (click)="enableUserById(u.id)">Enable</button></small>
                </div>
            </div>
        </div>
    </div>

</div>