<app-nav></app-nav>
<div class="container bootstrap mt-3 mb-5 p-3 shadow">
    <h2>Add User</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username:</span>
        </div>
        <input type="text" [(ngModel)]="usernameToBeAdded" class="form-control" placeholder="username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password:</span>
        </div>
        <input type="password" [(ngModel)]="passswordToBeAdded" class="form-control" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-secondary" id="uploadBtn" (click)="addUser()">Add User</button>
</div>
<div class="container bootstrap mt-3 mb-5 ">
    <div class="list-group">
        <a *ngFor="let u of userInfoList" href="#" class="list-group-item list-group-item-action " aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{u.username}}</h5>
                <small>ID: {{u.id}}</small>

            </div>
            <p class="mb-1">Role: {{u.role}}</p>
            <small><button class="btn btn-primary" (click)="deleteUserById(u.id)">Delete</button></small>
        </a>
    </div>

</div>